// footer
footer
  div(class="container")
    div(class="row")
      div(class="col-md-12 col-lg-12")
        div(class="wow shake" data-wow-delay="0.4s")
          div(class="page-scroll marginbot-30")
            a(href="#intro" id="totop" class="btn btn-circle")
              i(class="fa fa-angle-double-up animated")

        p !{footer_copyright}