// section services
section(id="service" class="home-section text-center bg-gray")
  div(class="heading-about")
    div(class="container")
      div(class="row")
        div(class="col-lg-8 col-lg-offset-2")
          div(class="wow bounceInDown" data-wow-delay="0.2s")
            div(class="section-heading")
              h2 Services
              i(class="fa fa-2x fa-angle-down")
            p Gogistics Ltd. is a business consulting company focused on development of cloud applications. Assist market development for companies which need technical advise. Partner with leading companies specializing in cloud services
  div(class="container")
    div(class="row")
      div(class="col-lg-2 col-lg-offset-5")
        hr(class="marginbot-50")

    div(class="row")
      div(class="col-xs-12")
        h4 Demo
