// section intro
section(id="intro" class="intro")
  div(class="slogan")
    h4 #{intro}
  div(class="page-scroll")
    a(href="#service" class="btn btn-circle")
      i(class="fa fa-angle-double-down animated")