// section about
section(id="facebook" class="home-section text-center")
  div(class="heading-about")
    div(class="container")
      div(class="row")
          div(class="col-lg-8 col-lg-offset-2")
            div(class="wow bounceInDown" data-wow-delay="0.2s")
              div(class="section-heading")
                  h2 FACEBOOK
                  i(class="fa fa-2x fa-angle-down")

              p Candidates of 2016 Taiwan Election

  div(class="container")
    div(class="row")
      div(class="col-lg-2 col-lg-offset-5")
        hr(class="marginbot-50")

    div(class="row")
      // tsaiingwen
      div(class="col-xs-12 col-sm-6 col-md-6 col-lg-3")
        div(class="wow bounceInUp" data-wow-delay="0.2s")
          div(class="team boxed-grey")
            div(class="inner")
              h3 Tsai Ing-wen
              p(class="subtitle") DPP Candidate
              div(class="avatar text-center")
                img(src="/public/images/tsai-ing-wen-1.png" alt="alan_tai" class="img-responsive img-circle")
              p continue...

      // eric chu
      div(class="col-xs-12 col-sm-6 col-md-6 col-lg-3")
        div(class="wow bounceInUp" data-wow-delay="0.2s")
          div(class="team boxed-grey")
            div(class="inner")
              h3 Eric Chu
              p(class="subtitle") KMT Candidate
              div(class="avatar text-center")
                img(src="/public/images/eric-chu-1.png" alt="alan_tai" class="img-responsive img-circle")
              p continue...

      // james soong
      div(class="col-xs-12 col-sm-6 col-md-6 col-lg-3")
        div(class="wow bounceInUp" data-wow-delay="0.2s")
          div(class="team boxed-grey")
            div(class="inner")
              h3 James Soong
              p(class="subtitle") PFP Candidate
              div(class="avatar text-center")
                img(src="/public/images/james-soong-1.png" alt="alan_tai" class="img-responsive img-circle")
              p continue...

      // Ma Ying-jeou
      div(class="col-xs-12 col-sm-6 col-md-6 col-lg-3")
        div(class="wow bounceInUp" data-wow-delay="0.2s")
          div(class="team boxed-grey")
            div(class="inner")
              h3 Ma Ying-jeou
              p(class="subtitle") President of Taiwan
              div(class="avatar text-center")
                img(src="/public/images/ma-ying-jeou-1.png" alt="alan_tai" class="img-responsive img-circle")
              p continue...

