section(id="intro" class="intro")
  div(class="slogan")
    h4 #{intro}
    h4 #{tw_election_info.tsaiingwen.name} (~42%)
    h4 #{tw_election_info.llchu.name} (~22%)
    h4 #{tw_election_info.love4tw.name} (~8%)
  div(class="page-scroll")
    a(href="#facebook" class="btn btn-circle")
      i(class="fa fa-angle-double-down animated")