// section intro
section(id="intro" class="intro")
  div(class="slogan")
    h4 #{intro}
    h4 Tsai Ing-wen (~42%)
    h4 Eric Chu (~22%)
    h4 James Soong (~8%)
  div(class="page-scroll")
    a(href="#twitter" class="btn btn-circle")
      i(class="fa fa-angle-double-down animated")