// section about
section(id="twitter" class="home-section text-center")
  div(class="heading-about")
    div(class="container")
      div(class="row")
          div(class="col-lg-8 col-lg-offset-2")
            div(class="wow bounceInDown" data-wow-delay="0.2s")
              div(class="section-heading")
                  h2 Twitter
                  i(class="fa fa-2x fa-angle-down")

              p Real-Time Tweets Tracking

  div(class="container")
    div(class="row")
      div(class="col-lg-2 col-lg-offset-5")
        hr(class="marginbot-50")

  div(class="row")
    p Map Area