// section about
section(id="about" class="home-section text-center")
  div(class="heading-about")
    div(class="container")
      div(class="row")
          div(class="col-lg-8 col-lg-offset-2")
            div(class="wow bounceInDown" data-wow-delay="0.2s")
              div(class="section-heading")
                  h2 About
                  i(class="fa fa-2x fa-angle-down")

              p We are committed to helping you grow your business through excellent marketing development. We believe that what your customers hear about your business is as important as the products you sell. We're dedicated to providing you with the highest quality customer service and your complete satisfaction.

  div(class="container")
    div(class="row")
      div(class="col-lg-2 col-lg-offset-5")
        hr(class="marginbot-50")

    div(class="row")
      div(class="col-xs-12 col-sm-3 col-md-3")
      div(class="col-xs-12 col-sm-6 col-md-6")
        div(class="wow bounceInUp" data-wow-delay="0.2s")
          div(class="team boxed-grey")
            div(class="inner")
              h5 Alan Tai
              p(class="subtitle") Chief Developer
              div(class="avatar text-center")
                img(src="/public/frontend_1/img/team/alan_tai.png" alt="alan_tai" class="img-responsive img-circle")
              p Learn the technology, connect the world
      div(class="col-xs-12 col-sm-3 col-md-3")