section(id="intro" class="intro")
  div(class="slogan")
    img(src="/public/images/tsai-ing-wen-1.png" alt="tsai_ing_wen" class="img-responsive img-circle intro_new_president_img")
    br
    h4 #{tw_election_info.tsaiingwen.name} (56.1% #{tw_election_info.tsaiingwen.role})
    h4 #{tw_election_info.llchu.name} (31%)
    h4 #{tw_election_info.love4tw.name} (12.8%)
  div(class="page-scroll")
    a(href="#facebook" class="btn btn-circle")
      i(class="fa fa-angle-double-down animated")