myNodejsApp/node_modules/
myNodejsApp/bower_components/
myNodejsApp/.keys.env

myWebRTCApp/ProjectRTC
myWebRTCApp/AndroidRTC
myWebRTCApp/RTCMultiConnection
myWebRTCApp/WebRTC-Scalable-Broadcast
myWebRTCApp/prjRTCBroadcast/node_modules
myWebRTCApp/prjRTCBroadcast/bower_components
myWebRTCApp/prjRTCBroadcast/.local_start.sh
myWebRTCApp/.key.env