extends base_layout

block content
  div(id="preloader")
    div(id="load")

  // navbars
  include ./sub_views/nav_top.jade

  // section ; intro
  include ./sub_views/section_intro.jade

  // section ; twitter
  include ./sub_views/section_twitter.jade

  // section ; about
  include ./sub_views/section_about.jade

  // section ; contact
  include ./sub_views/section_contact.jade

  // footer
  include ./sub_views/footer.jade
