extends base_layout

block content
  // set required css files
  // basic styles
  link(rel='stylesheet', href='/public/stylesheets/analysis.css')

  // leaflet
  link(rel='stylesheet', href='/public/javascripts/leaflet-0.7/leaflet.css')
  link(rel='stylesheet', href='/public/javascripts/leaflet-0.7/marker_cluster.default.css')
  link(rel='stylesheet', href='/public/javascripts/leaflet-0.7/marker_cluster.css')

  // cover
  div(id="preloader")
    div(id="load")

  // navbars
  div(id="text_analysis")

  // set required js files
  script(src='/public/frontend_1/js/jquery.min.js')
  script(src='/public/frontend_1/js/jquery.easing.min.js')
  script(src='/public/frontend_1/js/jquery.scrollTo.js')
  script(src='/public/frontend_1/js/bootstrap.min.js')
  script(src='/public/frontend_1/js/wow.min.js')

  // leaflet
  script(src='/public/javascripts/leaflet-0.7/leaflet.js')
  script(src='/public/javascripts/leaflet-0.7/leaflet.markercluster-src.js')

  // d3
  script(src='/public/javascripts/d3/d3.js')
  script(src='/public/javascripts/d3/d3_tips.js')
  script(src='/public/javascripts/d3/box.js')
  script(src='/public/javascripts/d3/queue.v1.min.js')
  script(src='/public/javascripts/d3/topojson.v1.min.js')
  script(src='/public/javascripts/d3/autocomplete.js')

  // socket
  script(src='/public/javascripts/socket.io-1.3.7.js')

  // customized scripts
  script(src='/public/javascripts/custom_text_analysis.js')
