/* custom tracking */
.overlay {
  fill: none;
  pointer-events: all;
}
/* tip */
div.tooltip {   
  position: absolute;           
  text-align: center;           
  max-width: 300px;               
  padding: 10px;
  color: #fff;          
  font: 12px sans-serif;        
  background: #ffc200;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;  
  z-index: 10000;
}
div.tooltip strong {   
  margin: 20px auto;
  letter-spacing: .2em;
}
div.tooltip p {   
  font-size: 12px; 
  margin: 10px auto;
  letter-spacing: .2em;
}
.line_1{
  fill: none;
  stroke: #c79825;
  stroke-width: 1px;
}
#categorized_collection, #categorized_plurk_posts_collection{
  max-height: 250px; overflow: auto; padding-right: 0;
}
#categorized_collection_chart, #categorized_plurk_posts_collection_chart{
  max-height: 250px;
}
/* fb */
.post_message{
  height: 150px;
  margin: 10px auto;
  overflow: auto;
}
.d3_title{
  color: #000;
}
/* twitter */
#twitter_stream_chart{
    margin: 10px 20px;
    text-align: center;
    overflow: auto;
}
#tweets_list{
    text-align: left;
    height: 645px;
    overflow: auto;
}
#tweets_map{
}
.chart_block{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.check_btn{
    color: #fff;
}
.check_btn:hover{
    color: #000;
}

#tweets_map{
    width: 100%;
    height: 600px;
    border-radius: 5px;
}
.circle_showing_up{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
#tweet_list{
    border-bottom: 1px solid #ccc;
}
.hidden_elem{
    display: none;
}

/* d3 */
svg {
  font: 10px sans-serif;
}
.grid .tick {
  stroke: lightgrey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
    z-index: 90;
}
.grid path {
  stroke-width: 0;
    z-index: 100000;
}
.label{
    color: #000;
}
.line {
  fill: none;
  stroke: #cf9e02;
  stroke-width: 2px;
}
.axis{
    z-index: 1000;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/**/
#tweets_peak{
    color: #f00;
    font-size: 12px;
    font-style: italic;
}
#high_peak_alert{
    height: 0px;
}
.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 14px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    text-align: left;
    padding-left: 10px;
    background-color: #ecb402; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 10px; margin: 7.5px;
    background: #FFFFFF;
    border: 2px solid transparent; border-radius: 14px;
    position: absolute; top: 0; bottom: 0; right: 51px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* media */
#tweet_list li div{
    display: block; text-align: center;
}
#tweet_list li span{
    display: block; font-size: 12px; color: #888;
}
#tweet_list li div img{
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(200,200,200,.3);
}
#tweet_list li a,
#tweet_list li div a{
    color: #ffc200;
    font-size: 11px;
}

.tweet_on_map img{
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(200,200,200,.3);
}
.tweet_on_map div{
    margin: 0px auto;
}
.tweet_on_map a,
.tweet_on_map div a{
    color: #ffc200;
    font-size: 11px;
}
.tweet_on_map p{
    text-align: left;
}
.tweet_on_map span.tweet_time_country{
    font-size: 11px; font-weight: bold;
}
.tweet_on_map span.tweet_text{
    font-size: 11px; color: #666;
}
@media (min-width: 767px){
    .tweet_on_map {
        max-width: 400px;
        text-align: center;
    }
}
@media (max-width: 768px){
    .tweet_on_map {
        max-width: 300px;
        text-align: center;
    }
}
@media (max-width: 480px){
    .tweet_on_map {
        max-width: 250px;
        text-align: center;
    }
}