extend my_ng_layout.jade

block content
  div(ng-app="myApp")
    div(ng-view)

  // scripts
  script(src='/public/frontend_1/js/jquery.min.js')
  script(src='/public/javascripts/angular/angular.min.js')
  script(src='/public/javascripts/angular/angular-resource.min.js')
  script(src='/public/javascripts/angular/angular-route.min.js')
  script(src='/public/javascripts/custom_ng/custom_ng_text_analysis.min.js')