extend base

block main_content
  div(class="container")
    div(class="col-lg-8 col-xs-12")
      include ./local_cam.jade

    div(class="col-lg-4 col-xs-12")
      include ./remote_stream.jade

block js_block