extend base

block main_content
  div(class="col-md-3 col-sm-12")
  div(class="col-md-6 col-sm-12" ng-controller="LoginController as loginCtrl")
    form(class="form-horizontal" role="form")
      // div(class="form-group")
      //   label(class="control-label col-md-3 col-sm-12" for="pwd") Password:&nbsp;
      //   div(class="col-md-9 col-sm-12")
          input(type="password" class="form-control" id="pwd" placeholder="Enter Password" ng-model="loginCtrl.pwd" required)

      div(class="form-group")
        label(class="control-label col-md-3 col-sm-12" for="user_type") User Type:&nbsp;
        div(class="col-md-9 col-sm-12")
          label(class="checkbox-inline")
            input(type="radio" name="user_type" value="voting_station" ng-model="loginCtrl.user_type")
            span &nbsp;Voting Station
          label(class="checkbox-inline")
            input(type="radio" name="user_type" value="regular_user" ng-model="loginCtrl.user_type" checked)
            span &nbsp;Regular User

      div(class="form-group")
        div(class="col-sm-offset-3 col-sm-10")
          input(type="button" class="btn btn-secondary" value="Submit" ng-click="loginCtrl.submit_login_info()")
  div(class="col-md-3 col-sm-12")

