div(class="remoteStream" ng-controller="RemoteStreamsController as rtc")
  h3 Remote Customer List
  div(id="remoteVideosContainer")
  table
    thead
      tr
        th Stream
        th 1-Way
    tbody
      tr(ng-repeat="stream in rtc.remoteStreams" ng-class="{ 'selected' : stream.isPlaying }")
        td
          a {{stream.name}}
        td(ng-click="rtc.view(stream)")
          a(href="#") View

  input(type="button" class="btn btn-secondary" value="Refresh" ng-click="rtc.loadData()" )