extend base

block main_content
  div
    div(class="container my_container")
      div(class="col-lg-8 col-xs-12")
        include ./service_local_cam.jade
      div(class="col-lg-4 col-xs-12")
        include ./service_remote_stream.jade
    nav(class="navbar navbar-default navbar-fixed-bottom")
      div(class="navbar-header")
        p(class="navbar-brand") For technical support, please email me at
          a(href="mailto:#{footer}" target="_blank") &nbsp;#{footer}
