div(class="localStream" ng-controller="LocalStreamController as localStream" ng-init="localStream.init('#{user_type}')")
  div(class="col-xs-12")
    h3 User
    div(class="input-group")
      span(class="input-group-btn")
        input(class="btn btn-secondary" type="button" value="#{username}" disabled)
      input(type="text" class="form-control" placeholder="Username/Room Tag" ng-model="localStream.name")
      span(class="input-group-btn")
        input(class="btn btn-secondary" type="button" ng-click="localStream.toggleCam()" value="{{ localStream.cameraIsOn ? 'Stop' : 'Start' }}")

  video(id="localVideo" class="col-xs-12" muted="muted" autoplay="true")
  // div(class="col-xs-12")
    // input(class="btn btn-default" value="Start Recording" ng-show="localStream.cameraIsOn" ng-click="localStream.start_recording()")
    // input(class="btn btn-default" value="Replay" ng-show="localStream.cameraIsOn" id="replay")