div(class="remoteStream" ng-controller="RemoteStreamsController as rtc")
  div(class="col-xs-12")
    h3 Remote Voting Station List
    input(type="button" class="btn btn-default" value="Refresh" ng-click="rtc.loadData()" )
    br
    table
      thead
        tr
          th Stream
          th 1-Way
      tbody
        tr(ng-repeat="stream in rtc.remoteStreams")
          td
            span {{stream.name}}
          td(ng-click="rtc.view(stream)")
            a(href="#" ng-class="{ 'selected' : stream.isPlaying }") {{ stream.isPlaying ? 'Cancel' : 'View' }}
    br
    div(id="remoteVideosContainer")
