extend base

block main_content
  div(class="container my_container")
    div(class="col-lg-8 col-xs-12")
      include ./user_local_cam.jade

    div(class="col-lg-4 col-xs-12")
      include ./user_remote_stream.jade

block js_block